.nc-main {
    position: relative;
}

.nc-arrow {
    position: absolute;
    top: -2px;
    left: -24px;
    background: none;
    border: none;
    padding: 6px 3px 6px 9px;
}
.nc-arrow span {
    border-style: solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: black;
    border-width: 6px;
    display: inline-block; 
    -webkit-transition: transform 200ms; /* For Safari 3.1 to 6.0 */
    transition: transform 200ms;
}

.nc-arrow.open span {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
}

.nc-top-container {
    padding-left: 20px;
}

.nc-container {
    overflow: hidden;
    padding-left: 20px;
}

.nc-sub-container {
    padding-left: 20px;
    overflow: hidden;
    -webkit-transition: height 200ms; /* For Safari 3.1 to 6.0 */
    transition: height 200ms;  
}